<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default3}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<div class="row">
		<div class="col">
			<h2>공유 게시판 리스트</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">여행 일정
						공유</li>
				</ol>
			</nav>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customContents">

	<div class="row justify-content-center mb-4">
		<div class="col-9">
			<!-- cardpart : 2 start -->
			<div class="card">
				<div class="card-body">
					<!-- 블로그 리스트 시작 -->
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="blog mb-5">
								<div class="blog-image">
									<div class="embed-responsive embed-responsive-4by3">
										<img th:src="@{/images/traShare/1.jpg}"
											class="card-img-top h-10 img-thumbnail embed-responsive-item"
											alt="...">
									</div>
								</div>
								<div class="blog-info">
									<div class="blog-date">
										<a href="#!"><i class="feather icon-briefcase"></i> 여행전 </a> <a
											href="#!"><i class="feather icon-align-justify"></i> 수정 </a>
										<a href="#!"><i class="feather icon-slash"></i> 삭제 </a>
									</div>
									<div class="blog-title mt-3">
										<h4 class="mb-3">
											<a href="#!">제주도 여행이 막막하다면!</a>
										</h4>
										<p class="mb-0">여행 기간은 한정적인데 가고 싶은 곳은 너무 많아서 뭘 어디서부터 어떻게
											해야 될지 모르겠다면 집중!</p>
									</div>
								</div>
								<div class="blog-bottom">
									<ul class="list-inline mb-0">
										<li><a href="#!"> <i class="feather icon-heart-on"></i>
												n 개의 포스트
										</a></li>
										<li><a href="#!"> <i class="feather icon-compass"></i>
												n 개의 명소
										</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="blog mb-5">
								<div class="blog-image">
									<div class="embed-responsive embed-responsive-4by3">
										<img th:src="@{/images/traShare/1.jpg}"
											class="card-img-top h-10 img-thumbnail embed-responsive-item"
											alt="...">
									</div>
								</div>
								<div class="blog-info">
									<div class="blog-date">
										<a href="#!"><i class="feather icon-message-circle"></i>
											여행전 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											수정 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											삭제 </a>
									</div>
									<div class="blog-title mt-3">
										<h4 class="mb-3">
											<a href="#!">제주도 여행이 막막하다면!</a>
										</h4>
										<p class="mb-0">여행 기간은 한정적인데 가고 싶은 곳은 너무 많아서 뭘 어디서부터 어떻게
											해야 될지 모르겠다면 집중!</p>
									</div>
								</div>
								<div class="blog-bottom">
									<ul class="list-inline mb-0">
										<li><a href="#!"> <i
												class="feather icon-message-circle"></i> n 개의 포스트
										</a></li>
										<li><a href="#!"> <i class="feather icon-heart"></i>
												n 개의 명소
										</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="blog mb-5">
								<div class="blog-image">
									<div class="embed-responsive embed-responsive-4by3">
										<img th:src="@{/images/traShare/1.jpg}"
											class="card-img-top h-10 img-thumbnail embed-responsive-item"
											alt="...">
									</div>
								</div>
								<div class="blog-info">
									<div class="blog-date">
										<a href="#!"><i class="feather icon-message-circle"></i>
											여행전 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											수정 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											삭제 </a>
									</div>
									<div class="blog-title mt-3">
										<h4 class="mb-3">
											<a href="#!">제주도 여행이 막막하다면!</a>
										</h4>
										<p class="mb-0">여행 기간은 한정적인데 가고 싶은 곳은 너무 많아서 뭘 어디서부터 어떻게
											해야 될지 모르겠다면 집중!</p>
									</div>
								</div>
								<div class="blog-bottom">
									<ul class="list-inline mb-0">
										<li><a href="#!"> <i
												class="feather icon-message-circle"></i> n 개의 포스트
										</a></li>
										<li><a href="#!"> <i class="feather icon-heart"></i>
												n 개의 명소
										</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="blog mb-5">
								<div class="blog-image">
									<div class="embed-responsive embed-responsive-4by3">
										<img th:src="@{/images/traShare/1.jpg}"
											class="card-img-top h-10 img-thumbnail embed-responsive-item"
											alt="...">
									</div>
								</div>
								<div class="blog-info">
									<div class="blog-date">
										<a href="#!"><i class="feather icon-message-circle"></i>
											여행전 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											수정 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											삭제 </a>
									</div>
									<div class="blog-title mt-3">
										<h4 class="mb-3">
											<a href="#!">제주도 여행이 막막하다면!</a>
										</h4>
										<p class="mb-0">여행 기간은 한정적인데 가고 싶은 곳은 너무 많아서 뭘 어디서부터 어떻게
											해야 될지 모르겠다면 집중!</p>
									</div>
								</div>
								<div class="blog-bottom">
									<ul class="list-inline mb-0">
										<li><a href="#!"> <i
												class="feather icon-message-circle"></i> n 개의 포스트
										</a></li>
										<li><a href="#!"> <i class="feather icon-heart"></i>
												n 개의 명소
										</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="blog mb-5">
								<div class="blog-image">
									<div class="embed-responsive embed-responsive-4by3">
										<img th:src="@{/images/traShare/1.jpg}"
											class="card-img-top h-10 img-thumbnail embed-responsive-item"
											alt="...">
									</div>
								</div>
								<div class="blog-info">
									<div class="blog-date">
										<a href="#!"><i class="feather icon-message-circle"></i>
											여행전 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											수정 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											삭제 </a>
									</div>
									<div class="blog-title mt-3">
										<h4 class="mb-3">
											<a href="#!">제주도 여행이 막막하다면!</a>
										</h4>
										<p class="mb-0">여행 기간은 한정적인데 가고 싶은 곳은 너무 많아서 뭘 어디서부터 어떻게
											해야 될지 모르겠다면 집중!</p>
									</div>
								</div>
								<div class="blog-bottom">
									<ul class="list-inline mb-0">
										<li><a href="#!"> <i
												class="feather icon-message-circle"></i> n 개의 포스트
										</a></li>
										<li><a href="#!"> <i class="feather icon-heart"></i>
												n 개의 명소
										</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="blog mb-5">
								<div class="blog-image">
									<div class="embed-responsive embed-responsive-4by3">
										<img th:src="@{/images/traShare/1.jpg}"
											class="card-img-top h-10 img-thumbnail embed-responsive-item"
											alt="...">
									</div>
								</div>
								<div class="blog-info">
									<div class="blog-date">
										<a href="#!"><i class="feather icon-message-circle"></i>
											여행전 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											수정 </a> <a href="#!"><i class="feather icon-message-circle"></i>
											삭제 </a>
									</div>
									<div class="blog-title mt-3">
										<h4 class="mb-3">
											<a href="#!">제주도 여행이 막막하다면!</a>
										</h4>
										<p class="mb-0">여행 기간은 한정적인데 가고 싶은 곳은 너무 많아서 뭘 어디서부터 어떻게
											해야 될지 모르겠다면 집중!</p>
									</div>
								</div>
								<div class="blog-bottom">
									<ul class="list-inline mb-0">
										<li><a href="#!"> <i
												class="feather icon-message-circle"></i> n 개의 포스트
										</a></li>
										<li><a href="#!"> <i class="feather icon-heart"></i>
												n 개의 명소
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- 블로그 리스트 끝 -->
				</div>
			</div>
			<!-- cardpart : 2 end -->
		</div>
		<div class="col-3">
			<!-- cardpart : 2 start -->
			<div class="card ">
				<div class="card-body text-center">
					<form>
												<div class="form-group">
													<label for="textFormControlInput1"> 검색범위 및 정렬방식 </label>
														<div class="row">
														<div class="col-md-6">
													 <select
														class="form-control border border-secondary" id="exampleFormControlSelect1">
														<option>전체</option>
														<option>최근 1주일</option>
														<option>최근 2주일</option>
														<option>최근 1달</option>
													</select>
													</div>
													<div class="col-md-6">
													<select
														class="form-control border border-secondary" id="exampleFormControlSelect1">
														<option>최신순</option>
														<option>조회수</option>
														<option>인기순</option>
													</select>
													</div>
												</div>
												</div>
												<div class="form-group">
													<label for="textFormControlInput2"> 문화재 소재지 </label> <input
														type="text" class="form-control border border-secondary"
														id="textFormControlInput2" placeholder="소재지" required="">
														123
												</div>
												<div class="form-group">
													<label for="textFormControlInput3"> 문화재 시대명 </label> <input
														type="text" class="form-control border border-secondary"
														id="exampleFormControlInput3" placeholder="시대명"
														required="">
												</div>
												<div class="form-group">
														<label for="customRange2" class="form-label">여행 기간</label>
<input id="rangeslider-basic" type="text" name="" value="" />
												</div>
												<div class="form-group">
													<label for="exampleFormControlSelect1">분류 </label> <select
														class="form-control border border-secondary" id="exampleFormControlSelect1">
														<option>문화재 분류 선택</option>
														<option>국가 등록 문화재</option>
														<option>국보</option>
														<option>명승</option>
														<option>보물</option>
														<option>사적</option>
														<option>시도등록문화재</option>
														<option>천연기념물</option>
													</select>
												</div>

												<button type="button" class="btn btn-outline-danger">적용</button>
											</form>
					<!-- 블로그 리스트 끝 -->
				</div>
			</div>
			<!-- cardpart : 2 end -->
		</div>
	</div>
</th:block>
<!-- javascript 삽입 시작 -->
<th:block layout:fragment="customBodyScript">
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
</th:block>
<!-- javascript 삽입 종료 -->
</html>