<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default2}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<h2>카테고리 관리</h2>
</th:block>
<th:block layout:fragment="customContents">
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/plugins/KmyCss/addCssKmy.css}">
	<div id="cosCate">
		<div class="card">
			<div class="card-body">
				<div class="dd" id="nestable">
					<ol class="dd-list">
						<li class="dd-item" data-id="2">
							<div class="dd-handle">테마별</div>
							<ol class="dd-list">
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="1">
									<div class="dd-my" style="float: right;">
										<span>선사시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>석기시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>청동기시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>철기시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>삼한시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>삼국시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>발해</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>통일신라</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>고려시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>조선시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>대한제국시대</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" style="overflow: hidden;"
									data-id="2">
									<div class="dd-my" style="float: right;">
										<span>일제강점기</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
								<li class="dd-item .overflow-hidden" name="trStaff"
									style="overflow: hidden;" data-id="2">
									<div class="dd-my" style="float: right;">
										<span>시대미상</span>
										<div class="add_del" style="float: right;">
											<button type="button">수정</button>
											<button type="button" class="del">삭제</button>
										</div>
									</div>
									<div class="dd-handle">
										<i class="feather icon-move"></i>
									</div>
								</li>
							</ol>
						</li>
					</ol>
				</div>
				<button type="button" class="btn btn-primary btnhover cosAdd"
					onclick="cosAdd" name="addStaff">추가</button>
			</div>
		</div>
		<div class="col-12">
			<div class="add-new text-center mb-5">
				<a class="btn btn-primary ftbtn" href="#!"> 변경사항 저장 </a>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customBodyScript">
	<script type="text/javascript">
		var $ul = $('.dd-item:last'), liHtml = '';
		liHtml += '<li class="dd-item .overflow-hidden" style="overflow: hidden;">';
		liHtml += '<div class="dd-my" style="float: right;">';
		liHtml += '<span>시대미상</span>';
		liHtml += '<button type="button">수정</button>';
		liHtml += '<button type="button">삭제</button>';
		liHtml += '</div></div>';
		liHtml += '<div class="dd-handle">';
		liHtml += '<i class="feather icon-move"></i>';
		liHtml += '</div></li>';

		$(document).on('click', '.cosAdd', function() {
			$ul.after(liHtml);
		});
		$(document).on('click', '.del', function() {
			$(this).parent('div').parent('div').parent('li').remove();
		});
	</script>
	<script th:src="@{/js/nestable/jquery.nestable.js}"></script>
	<script th:src="@{/js/jquery-nicescroll/jquery.nicescroll.min.js}"></script>
	<script th:src="@{/js/prism/prism.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
</th:block>
</html>