<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<div class="row">
		<div class="col">
			<h2>문화재 종목별 검색</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">문화재 검색</li>
				</ol>
			</nav>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customContents">

	<form>
		<div class="form-group">
			<div class="search-box  col-6">
				<div class="search">
					<input class="form-control border-6" type="search"
						placeholder="검색어를 입력해 주세요" aria-label="Search"> <a
						href="#"><i class="la la-search"></i> </a>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<div class="accordion-title" data-toggle="collapse"
							data-target="#collapseOne" aria-expanded="true">
							<h5 class="mb-0">종목별 상세 검색</h5>
						</div>
					</div>
					<div id="collapseOne" class="collapse show"
						aria-labelledby="headingOne" data-parent="#accordionExample"
						style="">
						<div class="card-body">
							<div class="col">
								<div class="btn-group" role="group"
									aria-label="Basic checkbox toggle button group">
									<input type="checkbox" class="btn-check"
										id="btn-check-outlined1" autocomplete="off"> <label
										class="btn btn-outline-primary" for="btn-check-outlined1">Single
										toggle</label><br> <input type="checkbox" class="btn-check"
										id="btn-check-outlined2" autocomplete="off"> <label
										class="btn btn-outline-primary" for="btn-check-outlined2">Single
										toggle</label><br> <input type="checkbox" class="btn-check"
										id="btn-check-outlined3" autocomplete="off"> <label
										class="btn btn-outline-primary" for="btn-check-outlined3">Single
										toggle</label><br>
								</div>
								<div class="row g-3 align-items-center">
									<div class="col-1">
										<label for="inputPassword6" class="col-form-label">수신동의</label>
									</div>

									<div class="col-auto">

										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox"
												id="inlineCheckbox7" value="option01"> <label
												class="form-check-label" for="inlineCheckbox7">sms </label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox"
												id="inlineCheckbox8" value="option02"> <label
												class="form-check-label" for="inlineCheckbox8">이메일 </label>
										</div>

									</div>

								</div>

								<div class="row g-3 align-items-center">
									<div class="d-grid gap-2 col-6 mx-auto">
										<button class="btn btn-primary" type="button">Button</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<!-- search box start -->
	<div class="row">
		<div class="col-md-6 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img th:src="@{/images/heritage/사본 -서울_숭례문_성곽전경_(촬영년도___2015년).jpg}" class="card-img-top" alt="...">
				</div>
				<div class="blog-bottom">
				<h2 class="mb-3">
							<a href="#!"> 서울 숭례문 </a>
						</h2>
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								수정
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								삭제
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img th:src="@{/images/heritage/사본 -서울_숭례문_성곽전경_(촬영년도___2015년).jpg}" class="card-img-top" alt="...">
				</div>
				<div class="blog-bottom">
				<h2 class="mb-3">
							<a href="#!"> 서울 숭례문 </a>
						</h2>
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								수정
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								삭제
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img th:src="@{/images/heritage/사본 -서울_숭례문_성곽전경_(촬영년도___2015년).jpg}" class="card-img-top" alt="...">
				</div>
				<div class="blog-bottom">
				<h2 class="mb-3">
							<a href="#!"> 서울 숭례문 </a>
						</h2>
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								수정
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								삭제
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- search box start -->


</th:block>
<th:block layout:fragment="customBodyScript">
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
</th:block>
</html>