<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="contentsTitle">
	<div class="row">
			<div class="col">
				<h2>문화재 종목별 검색</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">문화재 검색</li>
					</ol>
				</nav>
			</div>
	</div>
	
	</th:block>

	<th:block layout:fragment="customContents">	

		<div class="card">
			 <div class="card-body">
			    <form>
				  <div class="form-group">
				    <div class="search-box  col-6">
						<div class="search">
							<input class="form-control border-0" type="search" placeholder="검색어를 입력해 주세요" aria-label="Search">
							<a href="#"><i class="la la-search"></i> </a>
						</div>
					</div>
				  </div>
				  <div class="form-group">
				  <div class="accordion" id="accordionExample">
					  <div class="card">
					    <div class="card-header" id="headingOne">
					        <div class="accordion-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
					          <h5 class="mb-0"> 종목별 상세 검색 </h5>
					        </div>
					    </div>
					    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
					      <div class="card-body">
					        <div class="col">
					<div class="row g-3 align-items-center">
						<div class="col-1">
							<label for="inputPassword6" class="col-form-label">회원등급</label>
						</div>
						<div class="col-auto">

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> <label class="form-check-label" for="inlineCheckbox1">전체 </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> <label class="form-check-label" for="inlineCheckbox2">전수교육조교 </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> <label class="form-check-label" for="inlineCheckbox3">이수자</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4"> <label class="form-check-label" for="inlineCheckbox4">전수장학생 </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5"> <label class="form-check-label" for="inlineCheckbox5">보유자 </label>
							</div>
						</div>
					</div>
					<div class="row g-3 align-items-center">
						<div class="col-1">
							<label for="inputPassword6" class="col-form-label">수신동의</label>
						</div>

						<div class="col-auto">

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option01"> <label class="form-check-label" for="inlineCheckbox7">sms </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option02"> <label class="form-check-label" for="inlineCheckbox8">이메일 </label>
							</div>

						</div>

					</div>

					<div class="row g-3 align-items-center">
						<div class="d-grid gap-2 col-6 mx-auto">
						  <button class="btn btn-primary" type="button">Button</button>
						</div>
					</div>
				</div>
					      </div>
					    </div>  
					  </div>
				 </div>
				 </div>
				 <div class="form-group">
<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="blog mb-5">
					<div class="blog-image">
						<img class="img-fluid w-100" src="images/blog/01.jpg" alt="">
					</div>
					<div class="blog-info">
						<div class="blog-date">
							<a href="#!"> October 15, 2021</a>
						</div>
						<div class="blog-title mt-3">
							<h4 class="mb-3"><a href="#!">Dolore quasi expedita maxime!.</a></h4>
							<p class="mb-0">Maxime dolorem nihil minus, quasi, dicta cupiditate aut magni ea veniam natus provident.</p>
						</div>
					</div>
					<div class="blog-bottom">
						<ul class="list-inline mb-0">
							<li class="user"> <a href="#"> <img src="images/team/01.jpg" alt=""> Airi Satou	</a> </li>
							<li> <a href="#!"> <i class="feather icon-message-circle"></i> Comments (20) </a> </li>
							<li> <a href="#!"> <i class="feather icon-heart"></i> 22.5k </a> </li>
						</ul>	
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="blog mb-5">
					<div class="blog-image">
						<img class="img-fluid w-100" src="images/blog/02.jpg" alt="">
					</div>
					<div class="blog-info">
						<div class="blog-date">
							<a href="#!"> October 15, 2021</a>
						</div>
						<div class="blog-title mt-3">
							<h4 class="mb-3"><a href="#!">Dolore quasi expedita maxime!.</a></h4>
							<p class="mb-0">Veniam veritatis deserunt similique eveniet quo excepturi fugit doloremque molestiae.</p>
						</div>
					</div>
					<div class="blog-bottom">
						<ul class="list-inline mb-0">
							<li class="user"> <a href="#!"> <img src="images/team/02.jpg" alt=""> Bruno Nash </a> </li>
							<li> <a href="#!"> <i class="feather icon-message-circle"></i> Comments (22) </a> </li>
							<li> <a href="#!"> <i class="feather icon-heart"></i> 12.5k </a> </li>
						</ul>	
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="blog mb-5">
					<div class="blog-image">
						<img class="img-fluid w-100" src="images/blog/03.jpg" alt="">
					</div>
					<div class="blog-info">
						<div class="blog-date">
							<a href="#!"> October 15, 2021</a>
						</div>
						<div class="blog-title mt-3">
							<h4 class="mb-3"><a href="#!">Dolore quasi expedita maxime!.</a></h4>
							<p class="mb-0">Cupiditate aut magni ea veniam natus provident. maxime dolorem nihil minus, quasi dicta. </p>
						</div>
					</div>
					<div class="blog-bottom">
						<ul class="list-inline mb-0">
							<li class="user"> <a href="#!"> <img src="images/team/03.jpg" alt=""> Cedric Kelly</a> </li>
							<li> <a href="#!"> <i class="feather icon-message-circle"></i> Comments (11) </a> </li>
							<li> <a href="#!"> <i class="feather icon-heart"></i> 42.8k </a> </li>
						</ul>	
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="blog mb-5">
					<div class="blog-image">
						<img class="img-fluid w-100" src="images/blog/04.jpg" alt="">
					</div>
					<div class="blog-info">
						<div class="blog-date">
							<a href="#!"> October 15, 2021</a>
						</div>
						<div class="blog-title mt-3">
							<h4 class="mb-3"><a href="#!">Dolore quasi expedita maxime!.</a></h4>
							<p class="mb-0">Minus, quasi, dicta cupiditate aut magni ea veniam natus provident. maxime dolorem nihil. </p>
						</div>
					</div>
					<div class="blog-bottom">
						<ul class="list-inline mb-0">
							<li class="user"> <a href="#!"> <img src="images/team/04.jpg" alt=""> Gavin Joyce</a> </li>
							<li> <a href="#!"> <i class="feather icon-message-circle"></i> Comments (01) </a> </li>
							<li> <a href="#!"> <i class="feather icon-heart"></i> 36.6k </a> </li>
						</ul>	
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="blog mb-5">
					<div class="blog-image">
						<img class="img-fluid w-100" src="images/blog/05.jpg" alt="">
					</div>
					<div class="blog-info">
						<div class="blog-date">
							<a href="#!"> October 15, 2021</a>
						</div>
						<div class="blog-title mt-3">
							<h4 class="mb-3"><a href="#!">Dolore quasi expedita maxime!.</a></h4>
							<p class="mb-0">Ea veniam natus provident maxime dolorem nihil minus, quasi, dicta cupiditate aut magni.</p>
						</div>
					</div>
					<div class="blog-bottom">
						<ul class="list-inline mb-0">
							<li class="user"> <a href="#!"> <img src="images/team/05.jpg" alt=""> Jena Gaines	</a> </li>
							<li> <a href="#!"> <i class="feather icon-message-circle"></i> Comments (21) </a> </li>
							<li> <a href="#!"> <i class="feather icon-heart"></i> 24.8k </a> </li>
						</ul>	
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="blog mb-5">
					<div class="blog-image">
						<img class="img-fluid w-100" src="images/blog/06.jpg" alt="">
					</div>
					<div class="blog-info">
						<div class="blog-date">
							<a href="#!"> October 15, 2021</a>
						</div>
						<div class="blog-title mt-3">
							<h4 class="mb-3"><a href="#!">Dolore quasi expedita maxime!.</a></h4>
							<p class="mb-0">Nihil minus Maxime dolorem, quasi, dicta cupiditate aut magni ea veniam natus provident.</p>
						</div>
					</div>
					<div class="blog-bottom">
						<ul class="list-inline mb-0">
							<li class="user"> <a href="#!"> <img src="images/team/06.jpg" alt=""> Olivia Liang</a> </li>
							<li> <a href="#!"> <i class="feather icon-message-circle"></i> Comments (11) </a> </li>
							<li> <a href="#!"> <i class="feather icon-heart"></i> 45.6k </a> </li>
						</ul>	
					</div>
				</div>
			</div>
		  </div>				 
				 
				 </div>
				</form>
			</div>
		</div>

	
	</th:block>
	<th:block layout:fragment="customBodyScript">
		<!-- PRISM -->
		<script th:src="@{/js/prism/prism.js}"></script>
		<!-- custom -->
		<script th:src="@{/js/custom.js}"></script>
	</th:block>
</html>