<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<h1>숙박업소 조회</h1>
	<p>숙박업소 조회</p>
</th:block>

<th:block layout:fragment="customContents">
	<div class="row">
			<div class="col-12">
				<div class="card">
				  <div class="card-body">
					   <form>
						  <div class="form-row">
						    <div class="col-md-4 mb-3">
						      <label for="validationDefault01">여행 도시 선택</label>
					  <select class="js-example-basic-single select2-hidden-accessible" name="state" data-select2-id="1" tabindex="-1" aria-hidden="true">
						  <optgroup label="Alaskan/Hawaiian Time Zone" data-select2-id="13">
						    <option value="AK" data-select2-id="3">Alaska</option>
						    <option value="HI" data-select2-id="14">Hawaii</option>
						  </optgroup>
						</select>
						<span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" data-select2-id="2" style="width: 130px;"><span class="selection">
						<span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-state-8j-container">
						<span class="select2-selection__rendered" id="select2-state-8j-container" role="textbox" aria-readonly="true" title="California">California</span>
						<span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span>
						</span>
						    </div>
						    <div class="col-md-4 mb-3">
						      <label for="validationDefault02">숙박시설 종류 선택</label>
						      <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
						    </div>
						    <div class="col-md-4 mb-3">
						      <label for="validationDefaultUsername">숙박시설 이름</label>
						       <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
						    </div>
						  </div>
						  <div class="form-row">
						    <div class="col-md-6 mb-3">
						      <label for="validationDefault03">City</label>
						      <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
						    </div>
						    <div class="col-md-3 mb-3">
						      <label for="validationDefault04">State</label>
						      <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
						    </div>
						    <div class="col-md-3 mb-3">
						      <label for="validationDefault05">Zip</label>
						      <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
						    </div>
						  </div>
						  <div class="form-group">
						  	 <div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck6">
								  <label class="custom-control-label" for="customCheck6"> Agree to terms and conditions</label>
								</div>
						  </div>
						  <button class="btn btn-primary" type="submit">Submit form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col-md-4 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img class="img-fluid w-100" th:src="@{/images/aco/sinla.jpg}"
						alt="">
				</div>
				<div class="blog-info">
					<div class="blog-title mt-3">
						<h4 class="mb-3">
							<a th:href="@{/accommodation/acoommodationInfo}">신라스테이 해운대</a>
						</h4>
						<p class="mb-0">Maxime dolorem nihil minus, quasi, dicta
							cupiditate aut magni ea veniam natus provident.</p>
					</div>
				</div>
				<div class="blog-bottom">
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								Comments (20)
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								22.5k
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img class="img-fluid w-100" th:src="@{/images/aco/parkhyatt.jpg}"
						alt="">
				</div>
				<div class="blog-info">
					<div class="blog-title mt-3">
						<h4 class="mb-3">
							<a href="#!">파크하얏트 강남</a>
						</h4>
						<p class="mb-0">강남 파크하얏트</p>
					</div>
				</div>
				<div class="blog-bottom">
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								Comments (20)
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								22.5k
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img class="img-fluid w-100" th:src="@{/images/aco/gyengju.png}"
						alt="">
				</div>
				<div class="blog-info">
					<div class="blog-title mt-3">
						<h4 class="mb-3">
							<a href="#!">경주 황남관 한옥호텔</a>
						</h4>
						<p class="mb-0">Maxime dolorem nihil minus, quasi, dicta
							cupiditate aut magni ea veniam natus provident.</p>
					</div>
				</div>
				<div class="blog-bottom">
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								Comments (20)
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								22.5k
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img class="img-fluid w-100" th:src="@{/images/aco/pohang.png}"
						alt="">
				</div>
				<div class="blog-info">
					<div class="blog-title mt-3">
						<h4 class="mb-3">
							<a href="#!">포항 스타스케이프 풀빌라</a>
						</h4>
						<p class="mb-0">Maxime dolorem nihil minus, quasi, dicta
							cupiditate aut magni ea veniam natus provident.</p>
					</div>
				</div>
				<div class="blog-bottom">
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								Comments (20)
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								22.5k
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img class="img-fluid w-100" th:src="@{/images/aco/jejuyega.png}"
						alt="">
				</div>
				<div class="blog-info">
					<div class="blog-title mt-3">
						<h4 class="mb-3">
							<a href="#!">제주 애월여가한옥</a>
						</h4>
						<p class="mb-0">Maxime dolorem nihil minus, quasi, dicta
							cupiditate aut magni ea veniam natus provident.</p>
					</div>
				</div>
				<div class="blog-bottom">
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								Comments (20)
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								22.5k
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="blog mb-5">
				<div class="blog-image">
					<img class="img-fluid w-100" th:src="@{/images/aco/jeonjuKing.png}"
						alt="">
				</div>
				<div class="blog-info">
					<div class="blog-title mt-3">
						<h4 class="mb-3">
							<a href="#!">전주 왕의지밀</a>
						</h4>
						<p class="mb-0">Maxime dolorem nihil minus, quasi, dicta
							cupiditate aut magni ea veniam natus provident.</p>
					</div>
				</div>
				<div class="blog-bottom">
					<ul class="list-inline mb-0">
						<li><a href="#!"> <i class="feather icon-message-circle"></i>
								Comments (20)
						</a></li>
						<li><a href="#!"> <i class="feather icon-heart"></i>
								22.5k
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#"
				tabindex="-1">이전</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">4</a></li>
			<li class="page-item"><a class="page-link" href="#">5</a></li>
			<li class="page-item"><a class="page-link" href="#">다음</a></li>
		</ul>
	</nav>
</th:block>
<th:block layout:fragment="customBodyScript">
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/jquery-nicescroll/jquery.nicescroll.min.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<script th:src="@{/js/datepicker/daterangepicker.js}"></script>
	<script th:src="@{/js/datepicker/bootstrap-timepicker.js}"></script>
	<script th:src="@{js/jquery-nicescroll/jquery.nicescroll.min.js}"></script>
	<script th:src="@{js/select2/select2.min.js}"></script>
	<script th:src="@{js/select2/bloodhound.min.js}"></script>
	<script th:src="@{js/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
	<script th:src="@{js/bootstrap-tagsinput/tagsinput.js}"></script>
	<script th:src="@{js/custom.js}"></script>
	
</th:block>
</html> 
