<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart42.khtour.mapper.CosMapper">
	<resultMap type="Cos" id="cosResultMap">
		<id column="cos_code" 				property="cosCode" />
		<result column="member_id" 				property="memberId" />
		<result column="theme_category_code" 	property="themeCategoryCode" />
		<result column="mus_code" 				property="musCode" />
		<result column="cos_area" 				property="cosArea" />
		<result column="trip_name" 				property="tripName" />
		<result column="cos_regist" 			property="cosRegist" />
		<result column="cos_open" 				property="cosOpen" />
		<result column="cos_share" 				property="cosShare" />
	</resultMap>

	<!-- 박물관 등록 SQL -->
	<insert id="addCos" parameterType="Cos">
		INSERT INTO tb_suggest_cos_regist
		(
		 cos_code
		,member_id
		,theme_category_code
		,mus_code
		,cos_area
		,trip_name
		,cos_regist
		,cos_open
		,cos_share
		) VALUES (
		sf_new_cos_code()
		,#{memberId}
		,#{themeCategoryCode}
		,#{musCode}
		,#{cosArea}
		,#{tripName}
		,#{cosRegist}
		,#{cosOpen}
		,#{cosShare}
		);
	</insert>
	<!-- 코드에 따른 전시회 조회 SQL -->
	<select id="getCosByCode" parameterType="String" resultMap="cosResultMap">
		SELECT
			 c.cos_code
			,c.member_id
			,c.theme_category_code
			,c.mus_code
			,c.cos_area
			,c.trip_name
			,c.cos_regist
			,c.cos_open
			,c.cos_share
		FROM
			tb_suggest_cos_regist AS c
		INNER JOIN
			tb_member AS m
			ON
			c.member_id = m.member_id
		WHERE
			cos_code = #{cosCode};
	</select>

	<!-- 전시회 목록 조회 SQL -->
	<select id="getCosList" resultMap="cosResultMap">
		SELECT
			 c.cos_code
			,c.member_id
			,c.theme_category_code
			,c.mus_code
			,c.cos_area
			,c.trip_name
			,c.cos_regist
			,c.cos_open
			,c.cos_share
		FROM
			tb_suggest_cos_regist AS c
		INNER JOIN
			tb_member AS m
			ON
			c.member_id = m.member_id
		WHERE
			cos_code = #{cosCode};
	</select>

	<!-- 전시회 수정 SQL -->
	<update id="modifyCos" parameterType="Cos">
		UPDATE tb_suggest_cos_regist
		<trim prefix="SET" suffixOverrides=",">
			<if test="cosCode != null and cosCode != ''">
				cos_code = #{cosCode},
			</if>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId},
			</if>
			<if test="themeCategoryCode != null and themeCategoryCode != ''">
				cos_addr = #{themeCategoryCode},
			</if>
			<if test="musCode != null and musCode != ''">
				musCode = #{musCode},
			</if>
			<if test="cosArea != null and cosArea != ''">
				cos_area = #{cosArea},
			</if>
			<if test="tripName != null and tripName != ''">
				cos_name = #{tripName},
			</if>
			<if test="cosRegist != null and cosRegist != ''">
				cos_regist = #{cosRegist},
			</if>
			<if test="cosOpen != null and cosOpen != ''">
				cos_open = #{cosOpen},
			</if>
			<if test="cosShare != null and cosShare != ''">
				cos_share = #{cosShare},
			</if>
		</trim>
		WHERE
			cos_code = #{cosCode};
	</update>

	<!-- 전시회 정보 삭제 SQL -->
	<delete id="removeCos" parameterType="String">
		DELETE
		FROM
			tb_suggest_cos_regist
		WHERE
			cos_code = #{cosCode};
	</delete>
</mapper>