<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart42.khtour.mapper.ExhibMapper">
<resultMap type="Exhibition" id="ExhibResultMap">
		<id column="exhib_code" property="exhibCode"/>
		<result column="special_exhib_code" property="specialExhibCode"/>
		<result column="ch_mus_code" property="chMusCode"/>
		<result column="special_exhib_cate" property="specialExhibCate"/>
		<result column="special_exhib_name" property="specialExhibName"/>
		<result column="special_exhib_start" property="specialExhibStart"/>
		<result column="special_exhib_end" property="specialExhibEnd"/>
		<result column="special_exhib_con" property="specialExhibCon"/>
	</resultMap> 
	
	<!-- 전시회 등록 SQL -->
	<insert id="addExhibition" parameterType="Exhibition">
		INSERT INTO tb_special_exhib 
		( 	 special_exhib_code
			,ch_mus_code
			,special_exhib_cate
			,special_exhib_name
			,special_exhib_start
			,special_exhib_end
			,special_exhib_con
		) VALUES (
			sf_new_special_exhib_code()
		   ,#{chMusCode}
		   ,#{specialExhibCate}
		   ,#{specialExhibName}
		   ,#{specialExhibStart}
		   ,#{specialExhibEnd}
		   ,#{specialExhibCon}
		);
	</insert>
</mapper>