<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart42.khtour.mapper.ExhibMapper">
	<resultMap type="Heritage" id="heritageResultMap">
		<id column="exhibition_code" property="heritageCode" />
	</resultMap>
	<!-- 문화재 목록 조회 SQL -->
	<select id="getHeritageList" resultMap="heritageResultMap">
		SELECT
		h.heritage_code
		,h.member_id
		,h.heritage_name
		,h.heritage_sub_name
		,h.heritage_location
		,h.heritage_era
		,h.heritage_designation
		,h.heritage_classification
		,h.heritage_image
		,h.heritage_detail
		,h.heritage_owner
		,h.heritage_manager
		,h.heritage_category
		,h.heritage_area
		FROM
		tb_heritage_detail AS h;
	</select>
</mapper>