<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<div class="row">
		<div class="col">
			<h2>객실 예약 진행</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">객실 예약</li>
				</ol>
			</nav>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customContents">
	<link
		th:href="@{https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/datedropper.css}"
		rel="stylesheet">
	<style>
.blog-info {
	height: 200px;
}

.form-control {
	margin-top: 1rem !important;
}

.roomSummary {
	font-size: 1rem;
}

.roomPersonnel {
	font-size: 0.8rem;
	opacity: 0.5;
}

.roomCheckIn {
	font-size: 1rem;
}

.price {
	font-size: 20px;
}

.discount {
	color: red;
}
</style>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="row" th:each="r,index: ${room}"
						style="justify-content: space-between;">
						<!-- 호텔 객실 세부 내역 -->
						<div class="col-12 col-md-5 col-lg-5" style="cursor: pointer;">
							<div class="embed-responsive embed-responsive-4by3">
								<img
									th:src="@{${#strings.isEmpty(r.roomImagePath) ? '/images/heritage/서울 숭례문.jpg': '/' + #strings.replace(r.roomImagePath,'\','/')}}"
									class="card-img-top h-20 embed-responsive-item" alt="...">
							</div>
						</div>
						<div class="col-12 col-md-7 col-lg-7" style="cursor: pointer;">
							<div class="">
								<h3 class="roomName" th:text="${r.roomName}"></h3>
							</div>
							<h4 class="roomSummary" th:text="${r.roomExplain}"></h4>
							<h5 class="roomPersonnel" th:text="${r.roomPersonnel}"></h5>
							<div class="" style="margin-top: 1.5rem;">
								<h4 style="display: inline;" th:text="${r.roomType}"></h4>
								<span id="checkInTime"
									style="margin-top: 0.3rem; opacity: 0.5; display: inline;"
									th:text="${r.roomCheckin}"></span> <span id="roomPrice"
									style="float: right; margin-top: 0.3rem; opacity: 0.5; padding-right: 30px;"
									th:text="${r.roomPrice}"></span>
							</div>
							<div class="" style="float: right; padding-right: 30px;">판매가</div>
							<div class="col-12"
								style="text-align: right; float: right; padding-right: 30px;">
								<span class="discount" th:text="${r.roomDiscount}"
									style="font-size: 20px;"> </span> <span class="finalprice"
									th:text="${r.roomFinalPrice}" style="font-size: 20px;">
								</span>
							</div>
						</div>
					</div>
					<div class="card-footer"></div>
					<div style="display: flex; justify-content: space-around;">
							<i class="feather icon-log-in" style="font-size: 15px;"><span>체크인 날짜 선택</span></i>
							<i class="feather icon-log-out" style="font-size: 15px;"><span>체크아웃 날짜 선택</span></i>
					</div>
					<div style="display: flex;">
						<div class="col-6" style="margin-top: 20px;">
							<input id="startDate" type="text" class="form-control input-text"
								name="startDate" style="cursor: pointer; font-size: 15px; text-align: center;">
						</div>
						<div class="col-6" style="margin-top: 20px;">
							<input id="endDate" type="text" class="form-control input-text"
								name="endDate" style="cursor: pointer; font-size: 15px; text-align: center;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>
<th:block layout:fragment="customBodyScript">
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
	<!-- jquery-nicescroll -->
	<script th:src="@{/js/jquery-nicescroll/jquery.nicescroll.min.js}"></script>
	<!-- bootstrap-datepicker -->
	<script th:src="@{/js/moment.min.js}"></script>
	<script th:src="@{/js/datepicker/daterangepicker.js}"></script>
	<!-- bootstrap-timepicker -->
	<script th:src="@{/js/datepicker/bootstrap-timepicker.js}"></script>
	<script th:src="@{/js/kmsJs/datepickerKms2.js}"></script>
	<!-- 출발 날짜 datepciker 자바스크립트 시작 -->
	<script>
		$(document).ready(function() {

			$("#startDate").dateDropper({
				animate : true,
				init_animation : "fadein",
				format : "y-mm-dd",
				lang : "ko",
				lock : false,
				minYear : 1970,
				yearsRange : 10,
				
				//CSS PRIOPRIETIES
				dropPrimaryColor : "#01CEFF",
				dropTextColor : "#333333",
				dropBackgroundColor : "#FFFFFF",
				dropBorder : "1px solid #08C",
				dropBorderRadius : 8,
				dropShadow : "0 0 10px 0 rgba(0, 136, 204, 0.45)",
				dropWidth : 124,
				dropTextWeight : 'bold'
			});

			//출발 날짜 datepciker 자바스크립트 종료
			//도착 날짜 datepciker 자바스크립트 시작

			$("#endDate").dateDropper({
				animate : true,
				init_animation : "fadein",
				format : "y-mm-dd",
				lang : "ko",
				lock : false,
				minYear : 1970,
				yearsRange : 10,

				//CSS PRIOPRIETIES
				dropPrimaryColor : "#01CEFF",
				dropTextColor : "#333333",
				dropBackgroundColor : "#FFFFFF",
				dropBorder : "1px solid #08C",
				dropBorderRadius : 8,
				dropShadow : "0 0 10px 0 rgba(0, 136, 204, 0.45)",
				dropWidth : 124,
				dropTextWeight : 'bold'
			});
		});
	</script>
	<!-- 도착 날짜 datepciker 자바스크립트 종료 -->
</th:block>
</html>