<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">


	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page"><a
				href="#"><i class="la la-home"></i></a></li>
		</ol>
	</nav>
</th:block>

<th:block layout:fragment="customContents">

	<div class="row">
		<div class="col-lg-50">
			<div class="card">
				<div class="card-title">
					<div class="card-title-left">
						<h4 class="card-title-text" _msthash="1928017"
							_msttexthash="14242826">전체 회원 정보</h4>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<div id="table-simple_wrapper"
							class="dataTables_wrapper dt-bootstrap4">
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<div class="dataTables_length" id="table-simple_length">
										<label><font _mstmutation="1" _msthash="704964"
											_msttexthash="15070224">보이다 </font><select
											name="table-simple_length" aria-controls="table-simple"
											class="custom-select custom-select-sm form-control form-control-sm"><option
													value="10" _msthash="1653431" _msttexthash="9451">10</option>
												<option value="25" _msthash="1653432" _msttexthash="10062">25</option>
												<option value="50" _msthash="1653433" _msttexthash="9815">50</option>
												<option value="100" _msthash="1653434" _msttexthash="15067">100</option></select><font
											_mstmutation="1" _msthash="704965" _msttexthash="9941607">
												항목</font></label>
									</div>
								</div>
								<div class="col-sm-12 col-md-6">
									<div id="table-simple_filter" class="dataTables_filter">
										<label><font _mstmutation="1" _msthash="706797"
											_msttexthash="9158058">검색:</font><input type="search"
											class="form-control form-control-sm" placeholder=""
											aria-controls="table-simple"></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-50">
									<table id="table-simple"
										class="table table-striped table-bordered dataTable"
										role="grid" aria-describedby="table-simple_info">
										<thead>
											<tr role="row">
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="아이디: 활성화하여 열을 오름차순정렬합니다."
													_mstaria-label="192436101" _msthash="788450"
													_msttexthash="9585628" style="width: 251.984px;">아이디</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="경험치 등급: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">경험치 등급</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="포인트 누적 총합: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">포인트 누적 총합</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="포인트 사용액: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">포인트 사용액</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="사용 가능 포인트: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">사용 가능 포인트</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="회원상태관리: 활성화하여 열 오름차순 정렬"
													_mstaria-label="146133637" _msthash="788452"
													_msttexthash="15309944" style="width: 188.109px;"
													aria-sort="descending">회원상태관리</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="등급: 활성화하여 열 오름차순 정렬" _mstaria-label="132268981"
													_msthash="788453" _msttexthash="9515896"
													style="width: 107.438px;">등급</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="사용자이름: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">사용자이름</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="연락처: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">연락처</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="생년월일: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">생년월일</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="이메일: 활성화하여 열 오름차순 정렬" _mstaria-label="132974777"
													_msthash="788451" _msttexthash="10129964"
													style="width: 416.531px;">이메일</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="등록일자: 활성화하여 열 오름차순 정렬"
													_mstaria-label="160663425" _msthash="788454"
													_msttexthash="21860852" style="width: 191.531px;">등록일자</th>
												<th class="sorting" tabindex="0"
													aria-controls="table-simple" rowspan="1" colspan="1"
													aria-label="나라: 열을 오름차순정렬하도록 활성화"
													_mstaria-label="161377619" _msthash="788455"
													_msttexthash="9037275" style="width: 147.781px;">나라</th>
											</tr>
										</thead>
										<tbody>
											<tr role="row" class="odd">
												<td class="" _msthash="1627185" _msttexthash="45407180" text="l.memberId"></td>
												<td class="" _msthash="1627315" _msttexthash="37073036" text="l.memberPointLevel"></td>
												<td _msthash="1627445" _msttexthash="9719372"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627575" _msttexthash="10361"></td>
												<td _msthash="1627705" _msttexthash="76206"></td>
												<td _msthash="1627835" _msttexthash="55250"></td>
											</tr>
											<tr role="row" class="even">
												<td class="" _msthash="196756" _msttexthash="16124368"></td>
												<td class="" _msthash="196886" _msttexthash="30148027"></td>
												<td _msthash="197016" _msttexthash="9719372"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197146" _msttexthash="9542"></td>
												<td _msthash="197276" _msttexthash="74243"></td>
												<td _msthash="197406" _msttexthash="51948"></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th rowspan="1" colspan="1" _msthash="799058"
													_msttexthash="9585628"></th>
												<th rowspan="1" colspan="1" _msthash="799059"
													_msttexthash="10129964"></th>
												<th rowspan="1" colspan="1" _msthash="799060"
													_msttexthash="15309944"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799061"
													_msttexthash="9515896"></th>
												<th rowspan="1" colspan="1" _msthash="799062"
													_msttexthash="21860852"></th>
												<th rowspan="1" colspan="1" _msthash="799063"
													_msttexthash="9037275"></th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-5">
									<div class="dataTables_info" id="table-simple_info"
										role="status" aria-live="polite" _msthash="341367"
										_msttexthash="86690565">1개 항목 중 10~57개 항목 표시</div>
								</div>
								<div class="col-sm-12 col-md-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="table-simple_paginate">
										<ul class="pagination">
											<li class="paginate_button page-item previous disabled"
												id="table-simple_previous"><a href="#"
												aria-controls="table-simple" data-dt-idx="0" tabindex="0"
												class="page-link" _msthash="640875" _msttexthash="15942420">이전의</a></li>
											<li class="paginate_button page-item active"><a href="#"
												aria-controls="table-simple" data-dt-idx="1" tabindex="0"
												class="page-link" _msthash="850759" _msttexthash="4459">1</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="table-simple" data-dt-idx="2" tabindex="0"
												class="page-link" _msthash="1086708" _msttexthash="4550">2</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="table-simple" data-dt-idx="3" tabindex="0"
												class="page-link" _msthash="1348723" _msttexthash="4641">3</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="table-simple" data-dt-idx="4" tabindex="0"
												class="page-link" _msthash="1636801" _msttexthash="4732">4</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="table-simple" data-dt-idx="5" tabindex="0"
												class="page-link" _msthash="1950946" _msttexthash="4823">5</a></li>
											<li class="paginate_button page-item "><a href="#"
												aria-controls="table-simple" data-dt-idx="6" tabindex="0"
												class="page-link" _msthash="2291156" _msttexthash="4914">6</a></li>
											<li class="paginate_button page-item next"
												id="table-simple_next"><a href="#"
												aria-controls="table-simple" data-dt-idx="7" tabindex="0"
												class="page-link" _msthash="469704" _msttexthash="9473516">다음</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>
<th:block layout:fragment="customBodyScript">
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
</th:block>
</html>