<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title>
   </th:block>
   <th:block layout:fragment="contentsTitle">
      <div class="row">
		<div class="col">
			<h2>회원 가입</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">회원 가입</li>
				</ol>
			</nav>
		</div>
	</div>
   </th:block>

   <th:block layout:fragment="customContents">
   <!-- FAVICON -->
   <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
   <!-- STYLE -->
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
   
	<div class="login bg-white py-5 px-5">
		<div class="title">
			<h3>회원가입</h3>
			<p>계정 만들기</p>
		</div>
		<form action="">
			<div class="row">
				<div class="form-group col">
					<label for="name">성함</label>
					<input type="text" class="form-control" placeholder="이름" required="" name="memberName">
				</div>
			</div>
			<div class="form-group">
				<label for="gender">성별</label>
				<select class="custom-select">
					<option selected="">::성별
						선택::</option>
					<option value="남">남</option>
					<option value="여">여</option>
				</select>
			</div>
			<div class="form-group">
				<label for="username">닉네임</label>
				<input id="username" class="form-control" name="username" type="text">
			</div>
			<div class="form-group">
				<label for="userid">아이디</label>
				<input type="text" class="form-control" placeholder="아이디" required="" name="memberId">
				<button type="button" id="idCheck">아이디중복체크</button>
			</div>
			<div class="form-group">
				<label for="userpw">비밀번호</label>
				<input type="password" class="form-control" placeholder="비밀번호" required="" _mstplaceholder="10300316">
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="비밀번호 확인" required="" _mstplaceholder="23358309">
			</div>
			<div class="form-group">
					<label for="email">이메일</label>
					<input id="email1" class="form-control" name="email" type="email">
			</div>
			<button type="button" id="addMemberBtn"  class="btn btn-primary">가입하기</button>
			<button type="button" class="btn btn-outline-primary btn-block"><i class="fa fa-facebook"></i>페이스북으로 가입하기</button>
			<button type="button" class="btn btn-outline-secondary btn-block"><i class="fa fa-instagram"></i>인스타로 가입하기</button>
			<button type="button" class="btn btn-outline-warning btn-block"><i class="feather icon-message-circle"></i>카카오톡으로 가입하기</button>
		</form>
		<p class="mb-0" _msthash="1166672" _msttexthash="273189748">귀하는 당사의 
			<a href="#" _istranslated="1"> 약관에 동의합니다.</a>
		</p>
	</div>
</th:block>
   <th:block layout:fragment="customBodyScript">
      <!-- bootstrap -->
      <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
      <!-- jquery-nicescroll -->
      <script th:src="@{/js/jquery-nicescroll/jquery.nicescroll.min.js}"></script>
      <!-- PRISM -->
      <script th:src="@{/js/prism/prism.js}"></script>
      <!-- custom -->
      <script th:src="@{/js/custom.js}"></script>
      <script>
			//$(document).ready(function())
			$(function(){
				
				function validationCheck(data){
					if(typeof data == 'undefined' || data == '' || data == null){
						return false;
					}
					return true;
				}
				
				$('#idCheck').click(function(){
					var memberId = $('input[name="memberId"]').val();
					//console.log(validationCheck(memberId));
					var vCheck = validationCheck(memberId);
					if(vCheck){
						$.ajax({
							 url: '/member/idCheck'
							,type: 'POST'
							,data: {'memberId' : memberId}
							,dataType: 'json'
							,success: function(data){
								console.log(data);
								// 화면에서 맨처음 아이디를 제외한 모든 입력하는 요소는 비활성화 (HTML 속성 추가 disabled="disabled") 
								// 아이디 중복이 발생 않은 경우(회원가입 O) 입력하는 요소는 활성화
								if(data){
									$('#addMemberForm input').prop('disabled', false);
									$('#addMemberForm select').prop('disabled', false);
									$('#addMemberForm button').prop('disabled', false);
								}else{									
									// 아이디 중복이 발생하는 경우(회원가입 X) 입력하는 요소는 비활성화
									$('#addMemberForm input').not('input[name="memberId"]').prop('disabled', true);
									$('#addMemberForm button').not('#idCheck').prop('disabled', true);
									$('#addMemberForm select').prop('disabled', true);
								}
							}
						});
					}
					
				});
				
				$('#addMemberBtn').click(function(){
					var isSubmit = true;
					var inputObj = $('#addMemberForm').find('input');
					
					$.each(inputObj, function(){
						var inputData = $(this).val();
						var result = validationCheck(inputData);
						
						// 사용자가 입력하지 않은 경우
						if(!result){
							alert('필수 항목입니다. 입력해주세요');
							$(this).focus();
							isSubmit = false;
							return false;
						}
					});
					
					console.log('유효여부 폼전송할건지?' + isSubmit )
					
					if(isSubmit) $('#addMemberForm').submit();
				});
			});
		</script>
   </th:block>
</html>