<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
   <th:block layout:fragment="customTitle">
      <title th:text="${title}"></title>
   </th:block>
   <th:block layout:fragment="contentsTitle">
      <div class="row">
		<div class="col">
			<h2>회원 정보</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">회원 정보</li>
				</ol>
			</nav>
		</div>
	</div>
   </th:block>

   <th:block layout:fragment="customContents">   
      <div class="card">
		<div class="card-title">
			<div class="card-title-left">
				<h4 class="card-title-text">회원 정보</h4>
			</div>
		</div>
		<div class="card-body">
			<form class="cmxform" id="signupForm" method="get"
				novalidate="novalidate">
				<div class="form-group">
					<label for="name">이름</label>
					<input id="name" class="form-control" name="name" type="text">
				</div>
				<div class="form-group">
					<label for="username">닉네임</label>
					<input id="username" class="form-control" name="username" type="text">
				</div>
				<div class="form-group">
					<label for="password">암호</label>
					<input id="password" class="form-control" name="password" type="password">
				</div>
				<div class="form-group">
					<label for="confirm_password">암호 확인</label> 
					<input id="confirm_password" class="form-control" name="confirm_password" type="password">
				</div>
				<div class="form-group">
					<label for="email">이메일</label>
					<input id="email1" class="form-control" name="email" type="email">
				</div>
				<div class="custom-control custom-checkbox form-group">
					<input type="checkbox" class="custom-control-input" id="agree" name="agree"> 
					<label class="custom-control-label" for="agree">이벤트 수신에 동의합니다</label>
				</div>
				<div class="custom-control custom-checkbox form-group">
					<input type="checkbox" class="custom-control-input" id="newsletter" name="newsletter"> 
					<label class="custom-control-label" for="newsletter">뉴스레터를 받고 싶습니다.</label>
				</div>
				<div class="form-group">
					<button class="submit btn btn-primary" type="submit" value="">수정하기</button>
				</div>
			</form>
		</div>
	</div>
   </th:block>
   <th:block layout:fragment="customBodyScript">
      <!-- PRISM -->
      <script th:src="@{/js/prism/prism.js}"></script>
      <!-- custom -->
      <script th:src="@{/js/custom.js}"></script>
   </th:block>
</html>