<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<h2>1:1문의 상세페이지</h2>
</th:block>
<th:block layout:fragment="customContents">
<style>
.card .card-footer {
	margin: 0px;
	padding: 7px;
}
</style>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<form class="boardDetailForm">
						<h5>작성자 </h5>
						<p th:text="${board.memberId}"></p>
						<div class="card-footer"></div>
						<h5>작성일  </h5>
						<p th:text="${board.boardDate}"></p>
						<div class="card-footer"></div>
						<h5>문의 분류 : </h5>
						<p th:text="${board.boardType}"></p>
						<div class="card-footer"></div>
						<h5>제목</h5>
						<p th:text="${board.boardTitle}"></p>
						<div class="card-footer"></div>
						<h5>문의 내용</h5>
						<p th:text="${board.boardContent}"></p>
						<div class="card-footer"></div>
					</form>
				</div>
			</div>
		</div>
	</div>

</th:block>
<th:block layout:fragment="customBodyScript">
</th:block>
</html>