<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default3}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<style>
@import url(https://unpkg.com/@webpixels/css@1.1/dist/index.css);

.postbgimg img {
	width: 100%;
	height: 274px;
}

.fa {
	cursor: pointer
}
/* 이미지 앨범 이동 */
.btn {
	border-radius: 5px;
	margin: 5px;
}

.blog-info {
	height: 200px;
}

.set-p {
	padding-left: 15px;
	padding-right: 15px
}

.fa-angle-left, .fa-angle-right {
	position: absolute;
	color: #757575;
	font-size: 80px;
	top: 50%;
	cursor: pointer
}

#left {
	left: 2%
}

#left:hover {
	color: #E0E0E0
}

#right {
	right: 2%
}

#right:hover {
	color: #E0E0E0
}

.image {
	object-fit: cover;
	width: 100%;
	height: 280px;
	display: none
}

.image.active {
	display: block
}

.rating {
	background-color: #3D5AFE;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

.grade {
	font-size: 18px
}

.line {
	height: 1px;
	background-color: #E0E0E0
}

.text-sm {
	font-size: 14px
}
</style>
	<div class="row">
		<div class="col-12">
			<h2>포스트 상세 페이지</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a
						th:href="@{/traShare/traShareList}">여행일정 공유 게시판</a></li>
					<li class="breadcrumb-item active" aria-current="page">포스트 상세</li>
				</ol>
			</nav>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customContents">
	<div class="row">
		<div class="postbgimg" style="opacity: 0.9;">
			<img th:src="@{/images/traShare/back2.jpg}" alt="...">
		</div>
	</div>

	<div class="row user-profile mb-4">
		<div class="col-12 col-md-4 col-lg-3">
			<!-- Component -->
			<div class="card">
				
				<hr class="my-2">
				<div class="card-body">
					<div class="d-flex justify-content-center">
						<a href="#">
							<img class="rounded-circle" style="width: 150px;" alt="..." th:src="@{'/images/iii.jpg'}">
						</a>
					</div>
					<div class="text-center my-6">
						<!-- Title -->
						<a href="#" class="d-block h5" style="font-size: 20px;">치밀한컴케이크</a>
						<div class="pb-5" th:text=" ${recordBoard.memberId}"></div>
						<!-- th:text="${recordBoardList.memberId.getMemberUserName()}" -->
						<!-- Subtitle -->
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target=".bd-example-modal-lg">
								<i class="feather icon-plus"></i>피드 등록
							</button>
							<!-- 모달 시작 -->
							<div class="modal fade bd-example-modal-lg" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">
												<i class="feather icon-plus"></i> 상세정보 등록
											</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body p-5">
											<form id="addFeedForm" th:action="@{/recordBoard/feedList}"
												method="post" enctype="multipart/form-data">

												<input type="hidden" name="recordBoardCode"
													th:value="${param.recordBoardCode}">
												<div class="form-group">
													<label for="memberId"> 등록자 아이디 </label> <input type="text"
														class="form-control" id="memberId"
														th:value="${session.SID}" name="memberId"
														readonly="readonly" required="">
												</div>

												<div class="form-group">
													<label for="feedTitle">피드 제목</label> <input type="text"
														class="form-control" name="feedTitle"
														placeholder="피드 제목을 입력해주세요.">
												</div>

												<div class="form-group">
													<label for="feedPlanDays">피드 일자</label> <input type="text"
														placeholder="피드 시간을 입력해주세요." class="form-control">
												</div>
												<div class="form-group">
													<label for="feedTime">피드 시간</label>
													<div class="input-group bootstrap-timepicker timepicker">
														<input id="timepicker1" type="text"
															class="form-control input-small"><span
															class="input-group-prepend"><i
															class="fa fa-clock-o"></i></span>
													</div>
												</div>
												<div class="form-group">
													<label for="feedImage">이미지 선택</label> <input type="file"
														id="feedImage" class="form-control" name="feedImageFiles"
														required="">
												</div>
												<div class="form-group">
													<label for="feedContent">피드 내용</label>
													<textarea class="form-control" id="heritageDetail"
														name="feedContent" rows="3" required=""></textarea>
												</div>

												<button type="button"
													th:if="${session.SID != recordBoard.memberId}"
													onclick="alert('게시글 작성자만 정보를 등록 할 수 있습니다.')"
													class="btn btn-primary">등록</button>
												<button type="button" id="addFeedBtn"
													th:unless="${session.SID != recordBoard.memberId}"
													class="btn btn-primary">등록</button>
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">취소</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- 모달 끝 -->
					</div>
					<!-- Stats -->

				</div>

			</div>
			<div class="card">
				<div class="card-title">
					<h3>Photo</h3>
				</div>
				<hr class="my-2">
				<div style="padding: 5px;">
					<div>
						<img id="first" class="image"
							th:src="@{https://i.imgur.com/3pcJdqF.jpg}"> <img
							class="image" th:src="@{https://i.imgur.com/zFRM6Ww.jpg}">
						<img class="image active"
							th:src="@{https://i.imgur.com/oDSYIAB.jpg}"> <img
							class="image" th:src="@{https://i.imgur.com/lfEnSRg.jpg}">
						<img id="last" class="image"
							th:src="@{https://i.imgur.com/gl9AZz0.jpg}">
					</div>
					<span class="fa fa-angle-left" id="left"></span> <span
						class="fa fa-angle-right" id="right"></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-8 col-lg-9">
			<div class="card">
				<div class="card-title">
					<h3>게시글</h3>
				</div>
				<hr class="my-2">
				<div class="card-body">
					<h1 class="mb-8" th:text="${recordBoard.recordBoardName}"></h1>
					<p th:text="${recordBoard.content}"></p>
				</div>
				<div class="card-footer mb-4 pt-8">
					<hr class="my-2">
					<p class="pt-4"
						th:text="'여행 시작일 : ' + ${recordBoard.startDate} + ' | ' + '여행 종료일 : ' + ${recordBoard.endDate} + ' | ' + '여행 스타일  : ' + ${recordBoard.travelStyle}"></p>
					<p
						th:text="'게시글 등록 날짜 : ' + ${recordBoard.regDate} + ' | ' + '조회수 : ' + ${recordBoard.views}"></p>
					<div class="d-flex flex-column comment-section" id="myGroup">
						<div class="p-2">
							<div class="d-flex flex-row fs-12">
								<div class="like p-2 cursor action-collapse"
									data-toggle="collapse" aria-expanded="true"
									aria-controls="collapse-1" href="#collapse-1">
									<i class="fa fa-commenting-o"></i><span class="ml-1">댓글</span>
								</div>
								<div class="like p-2 cursor action-collapse"
									data-toggle="collapse" aria-expanded="true"
									aria-controls="collapse-2" href="#collapse-2">
									<i class="fa fa-share"></i><span class="ml-1">관리</span>
								</div>
							</div>
						</div>
						<div id="collapse-1" class="p-2 collapse" data-parent="#myGroup">
							<form id="addCommentForm" method="post"
								th:action="@{/recordBoard/commentInsert}">

								<div class="d-flex flex-row align-items-start">
									<img class="rounded-circle"
										src="https://i.imgur.com/RpzrMR2.jpg" width="40">
									<textarea class="form-control ml-1 shadow-none textarea"
										name="content"></textarea>
									<input type="hidden" name="recordBoardCode"
										th:value="${param.recordBoardCode}"> <input
										type="hidden" name="memberId" th:value="${session.SID}">
								</div>
								<div class="mt-2 text-right">
									<button class="btn btn-primary btn-sm shadow-none"
										id="addCommentBtn" type="button">작성완료</button>
								</div>
							</form>
							<div class="card p-3 mb-2"
								th:if="${not #lists.isEmpty(recordBoardCommentList)}"
								th:each="c : ${recordBoardCommentList}">
								<div class="d-flex flex-row">
									<div class="d-flex flex-column ms-2">
										<h3 class="mb-1 text-primary"
											th:text="'등록자 아이디 : ' + ${c.memberId}">\</h3>
										<p class="comment-text" th:text="'내용: ' + ${c.content}">댓글
											내용</p>
									</div>
									<div class="col-10 text-right">

										<a th:unless="${session.SID != c.memberId}"
											th:href="@{/recordBoard/commentRemove(commentNum=${c.commentNum}, recordBoardCode=${recordBoard.recordBoardCode})}"><i
											class="fa fa-trash-o"></i></a>

									</div>
								</div>
								<div class="d-flex justify-content-between">
									<div class="d-flex flex-row gap-3 align-items-center"></div>
									<div class="d-flex flex-row">
										<span class="text-muted fw-normal fs-10"
											th:text="'작성 시간:'+${c.regDate}"></span>
									</div>
								</div>
							</div>
						</div>
						<div id="collapse-2" class="p-2 collapse" data-parent="#myGroup">
							<div class="d-flex flex-row align-items-start">
								<a class="btn btn-primary btn-icon btn-sm mb-1 mr-2 mb-1"
									th:if="${session.SID != recordBoard.memberId}"
									onclick="alert('게시글 작성자만 정보를 수정,삭제할 수 있습니다.')">
									<i class="la la-edit"></i>
								</a></a> <a th:unless="${session.SID != recordBoard.memberId}"
									class="btn btn-primary btn-icon btn-sm mb-1 mr-2 mb-1"
									th:href="@{/recordBoard/recordBoardModify(recordBoardCode=${recordBoard.recordBoardCode})}">
									<i class="la la-edit"></i>
								</a> <a th:unless="${session.SID != recordBoard.memberId}"
									class="btn btn-primary btn-icon btn-sm mb-1 mr-2 mb-1"> <i
									class="la la-edit"></i>
								</a>
								<button th:unless="${session.SID != recordBoard.memberId}"
									class="btn btn-danger btn-icon btn-sm mb-1"
									th:data-recordBoardCd="${recordBoard.recordBoardCode}"
									id="swal-delete-recordBoard">
									<i class="fa fa-trash-o"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="card">
				<div class="card-title">
					<div class="card-title-left">
						<h4 class="card-title-text"
							th:text="${recordBoard.memberId} + ' 님의 피드'"></h4>
					</div>
				</div>
				<hr class="my-2">
				<div class="card-body">
					<ul class="timeline-left">
						<li th:if="${not #lists.isEmpty(feedList)}"
							th:each="f: ${feedList}">
							<div class="time">
								<span th:text="${f.feedTime}"></span><span th:text=${f.RegDate}></span>
							</div>
							<div class="icon bg-primary">
								<i class="zmdi zmdi-camera"></i>
							</div>
							<div class="info">
								<div class="embed-responsive embed-responsive-16by9">
									<img
										th:src="@{${#strings.isEmpty(f.feedImagePath) ? '/images/traShare/여행이미지1.gif': '/' + #strings.replace(f.feedImagePath,'\','/')}}"
										class="img-fluid embed-responsive-item" alt="...">
								</div>
								<h2 class="pt-5" th:text="${f.feedTitle}"></h2>
								<div style="color: #AD8B73;">KOREA HERITAGETOUR (T)</div>
								<div>
									<p style="font-size: 18px;" th:text="${f.feedContent}"></p>
									<div class="float-end pb-3">
										<a><span>수정</span></a> <a><span style="margin-left: 5px;">삭제</span></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</th:block>
<th:block layout:fragment="customBodyScript">
	<!-- delbtn -->
	<script th:src="@{/js/sweetalert2/sweetalert2.min.js}"
		aria-hidden="true"></script>
	<script th:src="@{/js/sweetalert2/sweetalert2-custom.js}"
		aria-hidden="true"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>

	<!-- 이미지 왼쪽, 오른쪽 넘기는 버튼 생성 -->
	<script>
	$(document).ready(function(){

		$('#left').click(function(){
		var tmp = $(".active");
		$(tmp).removeClass("active");
		if($(tmp).is(':first-child')) {
		$("#last").addClass("active");
		}
		else {
		$(tmp).prev().addClass("active");
		}
		});

		$('#right').click(function(){
		var tmp = $(".active");
		$(tmp).removeClass("active");
		if($(tmp).is(':last-child')) {
		$("#first").addClass("active");
		}
		else {
		$(tmp).next().addClass("active");
		}
		});

		});
	</script>
	<!-- 등록 버튼 자바스크립트 -->
	<script type="text/javascript" th:inline="javascript">
		$('#addFeedBtn').click(function() {

			var isSubmit = true;
			var inputObj = $('#addFeedForm').find('input');

			$.each(inputObj, function() {
				var inputId = $(this).attr('id');
				var inputLabel = $('label[for="' + inputId + '"]').text();
				var inputData = $(this).val();

				// 사용자가 입력하지 않은 경우
			});

			if (isSubmit)
				$('#addFeedForm').submit();
		});
	</script>
	<script type="text/javascript" th:inline="javascript">
	$(function(){
		/*<![CDATA[*/
	    var sessionLevel = [[${session.SLEVEL}]];
	    /*]]>*/
		
		function validationCheck(data){
			if(typeof data == 'undefined' || data == '' || data == null){
				return false;
			}
			return true;
	}
	$('#addCommentBtn').click(function() {

			var isSubmit = true;
			var inputObj = $('#addCommentForm').find('input');

			$.each(inputObj, function() {
				var inputId = $(this).attr('id');
				var inputLabel = $('label[for="' + inputId + '"]').text();
				var inputData = $(this).val();
				var result = validationCheck(inputData);

				// 사용자가 입력하지 않은 경우
				if(!result){
					alert(inputLabel + '을 입력해주세요');
					$(this).focus();
					isSubmit = false;
					return false;
				}
			});

			if (isSubmit) $('#addCommentForm').submit();
			});
		});
	</script>
	<script>
		$(function(){
			$(document).on('click','#swal-delete-recordBoard',function(){
				var recordBoardCd = $(this).attr('data-recordBoardCd');
			      const swalWithBootstrapButtons = swal.mixin({
			          confirmButtonClass: 'btn btn-success',
			          cancelButtonClass: 'btn btn-danger',
			          buttonsStyling: false,
			        });

			        swalWithBootstrapButtons({
			          title: '정말 삭제 하시겠습니까?',
			          text: "삭제 클릭시 해당 정보는 복구 할 수 없습니다.",
			          type: 'warning',
			          showCancelButton: true,
			          confirmButtonText: '네',
			          cancelButtonText: '아니오',
			          reverseButtons: false
			        }).then((result) => {
			          if (result.value) {
			            swalWithBootstrapButtons(
			              '삭제완료',
			              '파일이 안전하게 삭제되었습니다.',
			              'success'
			            )
			            location.href = '/recordBoard/recordBoardRemove?recordBoardCode=' + recordBoardCd;
			          } else if (
			            // Read more about handling dismissals
			            result.dismiss === swal.DismissReason.cancel
			          ) {
			            swalWithBootstrapButtons(
			              '취소',
			              '사진은 안전하게 보호됩니다.',
			              'error'
			            )
			          }
			        });

				    			
			});
			
		});
		$(function(){
			$(document).on('click','#swal-delete-comment',function(){
				var commentCd = $(this).attr('data-commentCd');
			      const swalWithBootstrapButtons = swal.mixin({
			          confirmButtonClass: 'btn btn-success',
			          cancelButtonClass: 'btn btn-danger',
			          buttonsStyling: false,
			        });

			        swalWithBootstrapButtons({
			          title: '정말 삭제 하시겠습니까?',
			          text: "삭제 클릭시 해당 정보는 복구 할 수 없습니다.",
			          type: 'warning',
			          showCancelButton: true,
			          confirmButtonText: '네',
			          cancelButtonText: '아니오',
			          reverseButtons: false
			        }).then((result) => {
			          if (result.value) {
			            swalWithBootstrapButtons(
			              '삭제완료',
			              '파일이 안전하게 삭제되었습니다.',
			              'success'
			            )
			            location.href = '/recordBoard/commentRemove?commentNum=' + commentCd;
			          } else if (
			            // Read more about handling dismissals
			            result.dismiss === swal.DismissReason.cancel
			          ) {
			            swalWithBootstrapButtons(
			              '취소',
			              '사진은 안전하게 보호됩니다.',
			              'error'
			            )
			          }
			        });

				    			
			});
			
		});
	</script>
</th:block>
</html>