<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default2}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<h2>여행 게시판 리스트</h2>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">여행 일정 공유
				게시판</li>
		</ol>
	</nav>
</th:block>
<th:block layout:fragment="customContents">
<style>
.btn {
    border-radius: 5px;
    margin: 5px;
  }

.blog-info {
	height: 200px;
}

.set-p {
    padding-left: 15px;
    padding-right: 15px
}

.fa-angle-left,
.fa-angle-right {
    position: absolute;
    color: #757575;
    font-size: 80px;
    top: 50%;
    cursor: pointer
}

#left {
    left: 2%
}

#left:hover {
    color: #E0E0E0
}

#right {
    right: 2%
}

#right:hover {
    color: #E0E0E0
}

.image {
    object-fit: cover;
    width: 100%;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none
}

.image.active {
    display: block
}

.rating {
    background-color: #3D5AFE;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.grade {
    font-size: 18px
}

.line {
    height: 1px;
    background-color: #E0E0E0
}

.text-sm {
    font-size: 14px
}
</style>
	<div class="row">
		<div class="col-12 col-md-4 col-lg-3">
			<div class="card">
				<div class="card-title">
				<h3>여행 게시글 검색</h3>
				</div>
				<div class="card-body text-center">
					<form>
						<div class="form-group">
							<label for="textFormControlInput2"> 검색범위 및 정렬방식 </label>
							<div class="card-footer" style="padding: 5px;"></div>
							<div class="row">
								<div class="col-6 col-md-6" style="padding-right: 5px;">
									<select class="form-control border"
										id="exampleFormControlSelect1">
										<option>전체</option>
										<option>최근 1주일</option>
										<option>최근 2주일</option>
										<option>최근 1달</option>
									</select>
								</div>
								<div class="col-6 col-md-6" style="padding-left: 5px;">
									<select class="form-control border"
										id="exampleFormControlSelect1">
										<option>최신순</option>
										<option>조회수</option>
										<option>인기순</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="customRange2" class="form-label">여행 유형</label>
							<div class="card-footer" style="padding: 5px;"></div>
							<div>
								<button type="button" class="btn btn-outline-primary">여행전
								</button>
								<button type="button" class="btn btn-outline-primary">여행중
								</button>
								<button type="button" class="btn btn-outline-primary">여행후
								</button>

							</div>
						</div>
						<div class="form-group">
							<label for="customRange2" class="form-label">여행 맴버</label>
							<div class="card-footer" style="padding: 5px;"></div>
							<div>
								<button type="button" class="btn btn-outline-primary col-offset-2 col-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">모든여행
								</button>
								<button type="button" class="btn btn-outline-primary">가족과여행
								</button>
								<button type="button" class="btn btn-outline-primary">친구와여행
								</button>
								<button type="button" class="btn btn-outline-primary">애인과여행
								</button>
								<button type="button" class="btn btn-outline-primary">나홀로여행
								</button>

							</div>
						</div>
						<div class="form-group">
							<label for="customRange2" class="form-label">여행 기간</label> 
							<div class="card-footer" style="padding: 5px;"></div><span
								class="irs-line" tabindex="0"></span> <span class="irs-from"
								style="visibility: hidden;">0</span> <span class="irs-to"
								style="visibility: hidden;">0</span> <span class="irs-single"
								style="left: 48.4707%;"></span> <span class="irs-grid"></span> <span
								class="irs-bar irs-bar--single" style="left: 0px; width: 50%;"></span>
							<span class="irs-shadow shadow-single" style="display: none;"></span>
							<span class="irs-handle single" style="left: 49.0831%;"><i></i><i></i><i></i></span>
							<input id="rangeslider-basic" type="hidden" value=""
								class="irs-hidden-input" tabindex="-1" readonly="">
						</div>
						<div class="form-group">
							<label for="textFormControlInput2">키워드 추가</label>
							<div class="card-footer" style="padding: 5px;"></div> <input
								type="text" class="form-control" id="textFormControlInput2" placeholder="키워드를 입력해주세요.">
						</div>
						<button type="submit" class="btn btn-outline-primary col-12" style="margin-left: 0px;">적용</button>
					</form>
					<!-- 블로그 리스트 끝 -->
				</div>
			</div>
			<div class="card text-center">
				<div class="card-body">
					<a th:href="@{/recordBoard/recordBoardInsert}" type="button"
						class="btn btn-primary"> <i class="feather icon-plus"></i>포스트
						등록
					</a>
				</div>
			</div>
			<div class="card">
				<div class="card-title">
					<h3>Best Photo</h3>
				</div>
				<div style="padding: 5px;">
					<div>
						<img id="first" class="image"
							th:src="@{https://i.imgur.com/3pcJdqF.jpg}"> <img
							class="image" th:src="@{https://i.imgur.com/zFRM6Ww.jpg}">
						<img class="image active"
							th:src="@{https://i.imgur.com/oDSYIAB.jpg}"> <img
							class="image" th:src="@{https://i.imgur.com/lfEnSRg.jpg}">
						<img id="last" class="image"
							th:src="@{https://i.imgur.com/gl9AZz0.jpg}">
					</div>
					<span class="fa fa-angle-left" id="left"></span> <span
						class="fa fa-angle-right" id="right"></span>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-8 col-lg-9">
			<!-- cardpart : 2 start -->
			<div class="card">
				<div class="card-body">
					<!-- 블로그 리스트 시작 -->
					<div class="row">
						<div class="col-md-3 col-lg-3"
							th:if="${not #lists.isEmpty(recordBoardList)}"
							th:each="l : ${recordBoardList}">
							<div class="blog mb-5">
								<div class="blog-image">
									<div class="embed-responsive embed-responsive-4by3">
										<img th:src="@{/images/traShare/여행이미지1.gif}"
											class="card-img-top h-10 embed-responsive-item"
											alt="...">
									</div>
								</div>
								<div class="blog-info">
									<div class="blog-date">
										<a href="#!" th:text="${l.planStatus.getPlanStatusName()}">
										</a>
									</div>
									<hr class="my-2">
									<div class="blog-title mt-3">
										<h4 class="mb-3">
											<strong><a
												th:href="@{/recordBoard/recordBoardDetail}"
												th:text="${l.recordBoardName}"></a></strong>
										</h4>
										<p class="mb-0" th:text="${l.content}"></p>
									</div>
								</div>
								<div class="blog-bottom text-center">
									<div class="row">
										<div class="col-4">
											<div class="feather icon-heart-on">
												<span th:text="${l.likeCount}+개" style="opacity: 0.5;"></span>
											</div>
										</div>
										<div class="col-4">
											<div class="feather icon-image">
												<span style="opacity: 0.5;">무슨 갯수</span>
											</div>
										</div>
										<div class="col-4">
											<div class="feather icon-tv">
												<span th:text="${l.views}+뷰" style="opacity: 0.5;"></span>
											</div>
										</div>

									</div>



								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<!-- 페이징 시작 -->
					<div id="paging">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item"><a class="page-link" href="#">이전</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#">다음</a></li>
							</ul>
						</nav>
					</div>
					<!-- 페이징 끝 -->
				</div>
				<!-- 블로그 리스트 끝 -->
			</div>
		</div>
	</div>

</th:block>
<!-- javascript 삽입 시작 -->
<th:block layout:fragment="customBodyScript">
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>

	<script th:src="@{/js/rangelider/ion.rangeSlider.min.js}"></script>
	<script th:src="@{/js/prism/prism.js}"></script>
	
	<!-- 이미지 왼쪽, 오른쪽 넘기는 버튼 생성 -->
	<script>
	$(document).ready(function(){

		$('#left').click(function(){
		var tmp = $(".active");
		$(tmp).removeClass("active");
		if($(tmp).is(':first-child')) {
		$("#last").addClass("active");
		}
		else {
		$(tmp).prev().addClass("active");
		}
		});

		$('#right').click(function(){
		var tmp = $(".active");
		$(tmp).removeClass("active");
		if($(tmp).is(':last-child')) {
		$("#first").addClass("active");
		}
		else {
		$(tmp).next().addClass("active");
		}
		});

		});
	</script>
</th:block>
<!-- javascript 삽입 종료 -->
</html>