<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default3}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<div class="row justify-content-center">
		<div class="col-12 col-la-12 col-xl-12">
			<h2>포스트 등록 페이지</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a
						th:href="@{/recordBoard/recordBoardList}">여행일정 공유 리스트</a></li>
					<li class="breadcrumb-item active" aria-current="page">포스트 등록
						페이지</li>
				</ol>
			</nav>
		</div>
	</div>
</th:block>


<th:block layout:fragment="customContents">
	<div class="row justify-content-center">
		<div class="col-12 col-la-10 col-xl-7">
			<div class="card">
				<div class="card-title">
					<div class="card-title-left">
						<h4 class="card-title-text">게시글 기본 정보</h4>
					</div>
				</div>
				<div class="card-body">
					<form id="addRecordBoardForm"
						th:action="@{/recordBoard/recordBoardInsert}" method="post">
						<div class="form-group">
							<label for="recordBoardName">게시글 제목</label> <input type="text"
								class="form-control" placeholder="게시글 이름을 입력하세요."
								id="recordBoardName" name="recordBoardName">
						</div>
						<div class="form-group">
							<label for="content">게시글 내용</label>
							<textarea class="form-control" rows="3" required="" id="content"
								name="content"></textarea>
						</div>
						<div class="form-group" th:if="not ${#lists.isEmpty(planStatusList)}">
						
						<label for="PlanStatus"> 여행 상태 </label>
						
						 <select class="form-control"
							id="planStatusCode" name="planStatusCode">
							<option value="none">:: 여행 상태 ::</option>
							<option th:if="${not #lists.isEmpty(planStatusList)}" th:value="${s.planStatusCode}" th:text="${s.planStatusName}" th:each="s: ${planStatusList}">
							</option>
						</select>
					</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">#여행 멤버</label> <select
								class="form-control" id="exampleFormControlSelect1">
								<option>:: 선택 ::</option>
								<option>나홀로 여행</option>
								<option>79친구</option>
								<option>가족여행</option>
								<option>패키지여행</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">#여행 출발일</label> <input type="text" name="dates"
								class="form-control"> <label for="">#여행 종료일</label> <input
								type="text" name="dates" class="form-control">
						</div>
						<div class="form-group">
							<label for="image">#이미지 선택</label> <input type="file" id="image"
								class="form-control" name="image" required="">
						</div>
						<div class="form-group text-center">
						<button type="button" id="addRecordBoardBtn"
							class="btn btn-primary">등록</button>
						</div>	
					</form>

				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customBodyScript">
	<!-- bootstrap wizard-->
	<script th:src="@{/js/bootstrap-wizard/jquery.bootstrap.wizard.min.js}"></script>
	<script th:src="@{/js/jquery-validation/jquery.validate.min.js}"></script>

	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>

	<!--  datepicker  -->
	<script th:src="@{/js/datepicker/daterangepicker.js}"></script>
	<script th:src="@{/js/datepicker/bootstrap-timepicker.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$('#addRecordBoardBtn').click(function() {

			var isSubmit = true;
			var inputObj = $('#addRecordBoardForm').find('input');

			$.each(inputObj, function() {
				var inputId = $(this).attr('id');
				var inputLabel = $('label[for="' + inputId + '"]').text();
				var inputData = $(this).val();

				// 사용자가 입력하지 않은 경우
			});

			if (isSubmit)
				$('#addRecordBoardForm').submit();
		});
	</script>
</th:block>
</html>