<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
</th:block>
<th:block layout:fragment="customContents">

			<div class="card">
				<div class="card-header bg-primary pb-1">
					<h5 class="text-white">오늘의 인기포스트</h5>
				</div>
				<div class="card-body m-0 p-0">
					<div class="card-group">
						<div class="card pt-2 m-1"
							th:if="${not #lists.isEmpty(dailyPostList)}"
							style="border: none;" th:each="dp: ${dailyPostList}">
							<img th:src="@{'/images/commPost/'+${dp.pictureLink}+'.jpg'}"
								class="card-img" alt="...">
							<div class="card-body">
								<h5 class="card-title" th:text="${dp.title}"></h5>
								<a th:href="@{/post(postCode=${dp.postCode})}"
									class="stretched-link"></a>
							</div>
							<div class="card-foot p-2 text-center border-top">
								<p class="card-text" th:text="${dp.commName}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<div class="card">
						<div class="card-header bg-primary pb-1">
							<h5 class="text-white">인기포스트</h5>
						</div>
						<div class="card-body text-center pt-3 pb-3">
							<button type="button"
								class="btn btn-primary btn-sm mr-5 pl-4 pr-4">HOT</button>
							<button type="button"
								class="btn btn-primary btn-sm mr-5 ml-5 pl-4 pr-4">New</button>
							<button type="button"
								class="btn btn-primary btn-sm ml-5 pl-4 pr-4">Top</button>
						</div>
					</div>
					<div th:replace="community/singlePost :: singlePost"></div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img th:src="@{/images/commPost/img004.jpg}" class="card-img-top"
							alt="...">
						<div class="card-body m-0">
							<div class="table-responsive">
								<table class="table table-centered table-hover mb-0">
									<tbody>
										<tr th:if="${not #lists.isEmpty(communityList)}"
											th:each="l,index : ${communityList}"
											style="transform: rotate(0);">

											<th scope="row"><a
												th:href="@{/commPage(commName=${l.commName})}"
												class="stretched-link" th:text="${index.index}+1"></a></th>
											<td><div class="d-inline-block text-truncate"
													style="max-width: 120px;">
													<a th:text="${l.commName}"></a>
												</div></td>
											<td class="text-right pl-0 pr-0"><button type="button"
													class="btn btn-primary btn-sm pl-4 pr-4"
													style="z-index: 2; position: relative;">가입</button></td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
						<div class="card-foot p-3 text-center border-top">
							<a href="/commRanking" class="btn active btn-sm btn-primary"
								role="button" aria-pressed="true">전체보기</a>
						</div>
					</div>
					<div class="card">
						<img th:src="@{/images/commPost/img002.jpg}" class="card-img-top"
							alt="...">

						<div class="card-body m-0">
							<h5 class="card-title">HOME</h5>


						</div>
						<div class="card-foot p-3 text-center border-top">
							<a href="/createPost"
								class="btn btn-sm btn-primary active mt-0 mb-0 mr-4"
								role="button" aria-pressed="true">포스트 등록</a> <a
								href="/addCommunity"
								class="btn btn-sm btn-primary active mt-0 mb-0" role="button"
								aria-pressed="true">커뮤니티 등록</a>
						</div>
					</div>
				</div>
			</div>
</th:block>






<th:block layout:fragment="customBodyScript">
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
</th:block>
</html>