<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
</th:block>
<th:block layout:fragment="customContents">


				<div class="card">
					<div class="card-header bg-primary pb-1">
						<h5 class="text-white">오늘의 인기포스트</h5>
					</div>
					<div class="card-body m-0 p-0">
						<div class="card-group">
							<div class="card pt-2 m-1 img-fluid" th:if="${not #lists.isEmpty(dailyPostList)}" style="border: none;" th:each="dp: ${dailyPostList}">
								<div  th:if="${not #strings.isEmpty(dp.pictureLink)}" style = "opacity:.3;">
									<img th:src="@{${dp.pictureLink}}" class="card-img-top" alt="...">
								</div>
								<div class="card-img-overlay" >
									<h5 class="card-title" th:text="${dp.title}"></h5>
									<p style="display: -webkit-box; -webkit-line-clamp: 8; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;" class="card-text" th:text="${dp.mainText}"></p>
									<a th:href="@{/post(postCode=${dp.postCode})}"
										class="stretched-link"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<div class="card">
							<div class="card-header bg-primary pb-1">
								<h5 class="text-white">인기포스트</h5>
							</div>
						<div class="card-body text-center pt-3 pb-3">
							<button type="button"
								class="btn btn-primary btn-sm mr-5 pl-4 pr-4">HOT</button>
							<button type="button"
								class="btn btn-primary btn-sm mr-5 ml-5 pl-4 pr-4">New</button>
							<button type="button"
								class="btn btn-primary btn-sm ml-5 pl-4 pr-4">Top</button>
						</div>
						</div>
					<div th:replace="community/singlePost :: singlePost"></div>
				</div>
				<div class="col-4" >
					<div class="card-header bg-primary pb-1">
							<h5 class="text-white">인기커뮤니티</h5>
						</div>
					<div class="card">
						<div class="card-body m-0 pt-0 pb-0">
							<div class="table-responsive">
								<table class="table table-centered table-hover mb-0">
									<tbody>
										<tr th:if="${not #lists.isEmpty(communityList)}" th:each="l,index : ${communityList}" style="transform: rotate(0);">

											<th scope="row"><a th:href="@{/commPage(commCode=${l.commCode})}" class="stretched-link" th:text="${index.index}+1"></a></th>
											<td><div class="d-inline-block text-truncate" style="max-width: 120px;">
													<a th:text="${l.commName}"></a>
												</div>
											</td>
											<td class="text-right pl-0 pr-0">
											<button type="button" class="btn btn-primary btn-sm pl-4 pr-4" style="z-index: 2; position: relative;">가입</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-foot p-3 text-center border-top">
							<a href="/commRanking" class="btn active btn-sm btn-primary"
								role="button" aria-pressed="true">전체보기</a>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-primary pb-1">
							<h5 class="text-white">커뮤니티 참여</h5>
						</div>
						<div class="card-body m-0">				
							<a href="/createPost" class="btn btn-sm btn-primary active mt-0 mb-0 mr-4"
							role="button" aria-pressed="true">포스트 등록</a> <a href="/addCommunity" class="btn btn-sm btn-primary active mt-0 mb-0" role="button" aria-pressed="true">커뮤니티 등록</a>
						</div>
						
					</div>
				</div>
			</div>
</th:block>
<th:block layout:fragment="customBodyScript">
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
</th:block>
</html>