<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default3}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="contentsTitle">
	<!-- 페이지 타이틀 시작 -->
	<h2>마이페이지</h2>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">마이페이지</li>
		</ol>
	</nav>
	<!-- 페이지 타이틀 종료 -->
</th:block>

<th:block layout:fragment="customContents">
	<div class="row justify-content-center">
		<div class="col-8">
			<div class="card">
				<div class="card-body">
					<div class="text-center my-6">
						<a href="#"> <img class="rounded-circle" style="width: 150px;"
							alt="..." th:src="@{'/images/iii.jpg'}">
						</a>
						<!-- Title -->
						<a href="#" class="d-block h5 pt-3" style="font-size: 20px;">닉네임
							: 치밀한컴케이크</a>
						<div class="pb-1">아이디 : id001</div>
						<div class="pb-1">이메일 : klm7637@naver.com</div>
						<div class="pb-3">생일 : 1997.05.01</div>
						<!-- Subtitle -->
						<button type="button" class="btn btn-primary">
							<i class="feather icon-plus"></i>회원 정보 수정
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-title">
					<div class="card-title-left">
						<h4 class="card-title-text">id005 의 기록</h4>
					</div>
				</div>
				<div class="card-body">
					<div class="tab tab-vertical">
						<ul class="nav nav-pills" id="myTab-07" role="tablist">
							<li class="nav-item"><a class="nav-link" id="home-tab-07"
								data-toggle="tab" href="#home-07" role="tab"
								aria-controls="home" aria-selected="false"> <i
									class="fa fa-home"></i>나의 여행 일정
							</a></li>
							<li class="nav-item"><a class="nav-link" id="profile-tab-07"
								data-toggle="tab" href="#profile-07" role="tab"
								aria-controls="profile" aria-selected="false"> <i
									class="fa fa-user-o"></i>나의 여행 기록
							</a></li>
						</ul>
						<div class="tab-content" id="myTabContent-07">
							<div class="tab-pane fade" id="home-07" role="tabpanel"
								aria-labelledby="home-tab-07">
								<div class="row">
									<div class="col-lg-4 col-md-12">
										<div class="row g-0">
											<div class="col-md-6">
												<img class="img-fluid"
													src="https://myro.co.kr/myro_image/city/hawaii.jpg" alt="">
											</div>
											<div class="col-md-6">
												<div class="card-body">
													<h5 class="card-title">HAWAII</h5>
													<p class="card-text">
														<small class="text-muted">미국 하와이</small>
													</p>
													<p class="card-text">zxcv199698@naver.com</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-12">
										<div class="card-body">
											<ul style="overflow: hidden;list-style: none;">
										        <li style="float: left;">여행이름</li>
										        <li style="padding-left: 5%;float: left;">여행이름</li>
										    </ul>
										    <ul style="overflow: hidden;list-style: none;">
										        <li style="float: left;">여행일자</li>
										        <li style="padding-left: 5%;float: left;">2022.04.20-2022.04.22</li>
										    </ul>
									    </div>
									</div>
									<div class="col-lg-4 col-md-12">
										<div class="card-body">
											<ul style="overflow: hidden;list-style: none;">
										        <li style="float: left;">최종수정</li>
										        <li style="padding-left: 5%;float: left;">2022.04.20</li>
										    </ul>
										    <ul style="overflow: hidden;list-style: none;">
										        <li style="float: left;">선택장소</li>
										        <li style="padding-left: 5%;float: left;">11</li>
										    </ul>
									    </div>
									</div>
								</div>
								<div style="float:right;">
									<button class="btn">수정</button>
									<button class="btn">삭제</button>
								</div>
							</div>
							<div class="tab-pane fade" id="profile-07" role="tabpanel"
								aria-labelledby="profile-tab-07">
								<p>Consectetur lorem ipsum dolor sit amet, adipisicing elit.
									Dolorum qui, facilis saepe. Repudiandae, animi,
									perferendis!Consectetur lorem ipsum dolor sit amet, adipisicing
									elit. Dolorum qui, facilis saepe. Repudiandae, animi,
									perferendis!Consectetur lorem ipsum dolor sit amet, adipisicing
									elit. Dolorum qui, facilis saepe. Repudiandae, animi,
									perferendis!Consectetur lorem ipsum dolor sit amet, adipisicing
									elit. Dolorum qui, facilis saepe. Repudiandae, animi,
									perferendis!</p>
								<p>Blanditiis explicabo facilis ducimus, ipsam quasi
									quisquam, perspiciatis ea dolore rerum adipisci asperiores
									voluptatibus provident non quas. lorem ipsum dolor sit amet,
									consectetur adipisicing elit.</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="customBodyScript">
	<!-- PRISM -->
	<script th:src="@{/js/prism/prism.js}"></script>
	<!-- custom -->
	<script th:src="@{/js/custom.js}"></script>
</th:block>
</html>