<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="contentsTitle">
		<h1>Hello, Oxoury</h1>
		<p>The best to you each morning.</p>
	</th:block>
	
	<th:block layout:fragment="customContents">	
		<div class="card bg-primary">
					<div class="card-title border-0">
						<div class="card-title-left">
							<h4 class="card-title-text text-white">Latest blog</h4>
						</div>
					</div>
				  <div class="card-body">
				  	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
						  </ol>
						  <div class="carousel-inner">
						    <div class="carousel-item carousel-item-next carousel-item-left">
						      <div class="blog blog-bg pb-5">
						      	<strong class="text-white">October 15, 2021</strong>
						      	<h4 class="mt-4"><a class="text-white" href="#!"> Architecto labore necessitatibus minus.</a></h4>
						      	<p class="text-white">Veniam veritatis deserunt similique eveniet quo excepturi fugit doloremque molestiae.</p>
					      		<div class="blog-bottom">
					      			<ul class="list-inline mt-4 mb-0">
						      			<li class="user"> <a class="text-white" href="#"> <img src="images/team/01.jpg" alt=""> Airi Satou	</a> </li>
										<li> <a class="text-white" href="#!"> <i class="feather icon-message-circle"></i> Comments (22) </a> </li>
										<li> <a class="text-white" href="#!"> <i class="feather icon-heart"></i> 12.5k </a> </li>
									</ul>
								</div>
						      </div>
						    </div>
						    <div class="carousel-item active carousel-item-left">
						      <div class="blog blog-bg pb-5">
						      	<strong class="text-white">October 15, 2021</strong>
						      	<h4 class="mt-4"><a class="text-white" href="#!"> Architecto labore necessitatibus minus.</a></h4>
						      	<p class="text-white">Veniam veritatis deserunt similique eveniet quo excepturi fugit doloremque molestiae.</p>
					      		<div class="blog-bottom">
					      			<ul class="list-inline mt-4 mb-0">
						      			<li class="user"> <a class="text-white" href="#"> <img src="images/team/01.jpg" alt=""> Airi Satou	</a> </li>
										<li> <a class="text-white" href="#!"> <i class="feather icon-message-circle"></i> Comments (22) </a> </li>
										<li> <a class="text-white" href="#!"> <i class="feather icon-heart"></i> 12.5k </a> </li>
									</ul>
								</div>
						      </div>
						    </div>
						  </div>
						</div>
				  </div>
				</div>
	</th:block>
	<th:block layout:fragment="customBodyScript">
		<!-- PRISM -->
		<script th:src="@{/js/prism/prism.js}"></script>
		<!-- custom -->
		<script th:src="@{/js/custom.js}"></script>
		<script th:src="@{/js/jquery-jvectormap/jquery-jvectormap-2.0.3.min.js}"></script>
		<script th:src="@{/js/jquery-jvectormap/jquery-jvectormap-world-mill.js}"></script>
		<script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
	</th:block>
</html>